.control {
  border-radius: 1rem;
  padding: 1rem;
  background: #000;
  display: grid;
  grid-template-columns: max-content 1fr min-content;
}

.command {
  color: #fff;
  cursor: pointer;
  user-select: all;
  font-family: monospace;
  font-size: 1rem;
  align-self: center;
}

.tty {
  cursor: pointer;
  background: #fff;
  color: #000;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
